.o_dashboard {
    background-color: #ffffff;
    padding: 1rem;

    .dashboardGrid {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 1rem;
        grid-auto-flow: row dense;
    }
}